@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Inter:wght@600&family=Open+Sans:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #5e63df;
}

.container {
  width: 900px;
  display: flex;
  align-items: flex-end;
  gap: 40px;
  padding: 50px;
  background: #fff;
  border-radius: 10px;
}

.gallows-image {
  max-height: 300px;
}

.quiz .display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.display .letter {
  width: 25px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
  border-bottom: 4px solid #000;    
}

.display .letter.guess {
  margin: -8px 0 35px 0;
  border-color: transparent;
}

.hint,
.guess {
  display: flex;
  gap: 5px;
}

.text {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.inner-text {
  font-size: 1.2rem;
  font-weight: 700;
}

.counter {
  color: #920303;
}

.quiz .keyboard {
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.keyboard button {
  border: none;
  padding: 5px;
  background: #5e63df;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  width: calc(100% / 9 - 5px);
}

.keyboard button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.keyboard button:hover {
  background-color: #a1a2be;
}

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  z-index: 10;
  padding: 0 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in;
}

.modal-window.visible {
  opacity: 1;
  pointer-events: auto;
}

.modal-window .modal-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #aa88bc;
  max-width: 420px;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.play {
  padding: 15px 25px;
  border-radius: 10px;
  cursor: pointer;
}

.play:hover{
  background: #a1a2be;
}

@media (max-width: 782px) {
  .container {
    flex-direction: column;
    padding: 30px 15px;
    align-items: center;
  }
  .gallows-image {
    max-width: 200px;
  }
  
  .quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .display .letter {
    margin-bottom: 35px;
    font-size: 1.5rem;
  }

  .display .letter.guessed {
    margin-bottom: 35px;
    font-size: 1.5rem;
    margin: -35px 0 25px;
  }
}